// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
	background: rgb(86, 115, 124);
}
h1, h2, h3, h4 {
	font-size: @font-size;
	color: @main-color;
}

p {
	line-height: 1.25;
  	margin: 20px 0;
  	font-size: 1rem;
}

ul {
	line-height: 1.25;
	margin: 20px 0;
}

//variables
@main-color:darkgray;
@font-family: "times new roman", Times, serif;
@font-size: 2rem;
//mixins
.center() {
	flex-direction: column;
	align-items: center;
}
.flex(){
	display: flex;
}

.container {
	max-width: 880px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;

}

header {
	border-bottom: 1px dashed black;
	margin: 20px 0;
	padding: 20px 0;
	.flex();
	justify-content: center;

	@media ( max-width: 500px ) {
		.center();
		justify-content: space-between;
	}	
nav a {
		text-decoration: none;
		color: @main-color;
	// a {
	// 	text-decoration: none;
	// 	color: @main-color;
	// 	}
	}
}
.main-content {
	.flex();
	justify-content: space-between;
	padding: 20px;
	
	
	@media ( max-width: 500px ) {
		.center();
		padding: 20px;
	}
}			

.middle-content {
	.flex();
	border-top: 1px dashed black;
	margin: 20px 0;
	padding: 20px;
	
.skills {
	margin-top: 20px;
	justify-content: space-between;
	align-items: center;
	
	@media ( max-width: 500px ) {
		.center();
		margin: 20px;
	}

}		
.history {
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-left: 80px;
	}
}
footer{
	border-top: 1px dashed black;
	margin: 20px 0;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	nav a {
		text-decoration: none;
		color: @main-color;
	}
	
}
@media ( max-width: 500px ){
	text-decoration: none;
}